body {
	background-color: black;
	color: #f2f2f2;
	font-family: 'Courier New', Courier, monospace;
}

/* .terminal {
	background-color: #292b2f;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
	color: #f2f2f2;
	height: 500px;
	margin: 100px auto;
	overflow: hidden;
	width: 800px;
} */

.terminal-header {
	align-items: center;
	background-color: #3d3d3d;
	display: flex;
	height: 50px;
	justify-content: center;
	padding: 0 20px;
}

.terminal-header h1 {
	font-size: 20px;
	margin: 0;
}

.terminal-body {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
}

.input-container {
	display: flex;
	align-items: center;
	margin-top: auto;
}

.prompt {
	color: #8bc34a;
	font-weight: bold;
	margin-right: 10px;
}

.input {
	background-color: transparent;
	border: none;
	color: #f2f2f2;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	outline: none;
	width: 100%;
}

.input:focus {
	outline: none;
}

.output-container {
	flex: 1;
	margin-bottom: 10px;
	max-height: calc(100vh - 150px);
	overflow-y: auto;
  }
  

.output {
	color: #f2f2f2;
	margin: 0;
	white-space: pre-wrap;
}

.output p {
	margin: 0;
}
